# Rdzeń aplikacji
Flask==3.0.3
Flask-Login==0.6.3
Werkzeug==3.0.3

# Baza danych
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.31

# Generowanie plików (PDF i Excel)
fpdf2==2.7.9
openpyxl==3.1.2

# Produkcja i środowisko
gunicorn==22.0.0
python-dotenv==1.0.1